In [7]:
# Cargar todas las librerías
import pandas as pd
import plotly.express as px

In [ ]:
# Cargar el archivos de datos en un DataFrame
car_data = pd.read_csv(
    '~/proyectos/proyecto_sprint_5/notebooks/vehicles_us.csv')

In [8]:
# Información general/resumida sobre el DataFrame
print()
print("-- Información general del dataset: \n")
car_data.info()

# Información acerca del tipo de datos de las columnas del dataset
print()
print("-- Tipos de datos del dataset: \n")
car_data.dtypes

-- Información general del dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

-- Tipos de datos del dataset:

price             int64
model_year      float64
model            object
condition        object
cylinders       float64
fuel             object
odometer        float64
transmission     object
type             object
paint_color      object
is_4wd          float64
date_posted      object
days_listed       int64
dtype: object

In [9]:
# Imprime una muestra de los datos 
print("-- Una muestra de los datos del dataset: \n")
print(car_data.head(10))

-- Una muestra de los datos del dataset:

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0
5  14990      2014.0    chrysler 300  excellent        6.0  gas   57954.0
6  12990      2015.0    toyota camry  excellent        4.0  gas   79212.0
7  15990      2013.0     honda pilot  excellent        6.0  gas  109473.0
8  11500      2012.0     kia sorento  excellent        4.0  gas  104174.0
9   9200      2008.0     honda pilot  excellent        NaN  gas  147191.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28
5    automatic   sedan       black     1.0  2018-06-20           15
6    automatic   sedan       white     NaN  2018-12-27           73
7    automatic     SUV       black     1.0  2019-01-07           68
8    automatic     SUV         NaN     1.0  2018-07-16           19
9    automatic     SUV        blue     1.0  2019-02-15           17